body { display: block; overflow: hidden; position: relative; }
li { list-style: none; }
.grid { height: 520px; display: block; width: 2500px; position: absolute; }
.block { width: 240px; height: 240px; margin: 0 10px 10px 0; background: #f5f5f5; outline: 1px solid #eeeeee; float: left; }
.hub { position: relative; left: 0; margin: 35px 0 0 80px; width: 9999px; }
#keys, 
#workingArea { position: relative; display: inline-block; }
#keys { width: 375px; }
#workingArea { overflow: auto; overflow-y: hidden; min-height: 555px; padding: 5px 0 0 5px; margin-top: -5px; left: 80px; }

#workingGrid .block,
.dragging.block { display: block; position: absolute; background-color: #0093D0; }

.key { margin: 0 10px 10px 0; float: left; display: block; overflow: hidden; cursor: pointer; position: relative; color: white; }
.block input[type="file"] { position: relative; height: 100%; width: auto; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

.key.s1x1 { height: 115px; width: 115px; }
.key.s2x1 { height: 115px; width: 240px; }
.key.s1x2 { height: 240px; width: 115px; }

.block.s1x1 { height: 240px; width: 240px; }
.block.s2x1 { height: 240px; width: 490px; }
.block.s1x2 { height: 490px; width: 240px; }

.ui-draggable-dragging,
.dragging { opacity: .4; z-index: 999; border: 1px solid white; }

.dragging {
	-webkit-transition-property: width, height;
	-moz-transition-property: width, height;
	-o-transition-property: width, height;
	transition-property: width, height;
	-webkit-transition-duration: .2s, .2s;
	-moz-transition-duration: .2s, .2s;
	-o-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: ease-out, ease-out;
	-moz-transition-timing-function: ease-out, ease-out;
	-o-transition-timing-function: ease-out, ease-out;
	transition-timing-function: ease-out, ease-out; 
}

.block.dragging.doesntFit { background-color: grey; }

#placeholderGrid.canFit .block.draggingOver { background-color: #67b6ce; }
#placeholderGrid.cantFit .block.draggingOver { background-color: #f4ab8c; }

.selected { outline: 4px #333 solid; }
.selected:after {
  width: 0;
  height: 0;
  border-top: 40px solid #333;
  border-left: 40px solid transparent;
  position: absolute;
  display: block;
  right: 0;
  content: ".";
  top: 0;
  z-index: 1000;
}
.selected:before {
  position: absolute;
  content: "\2714";
  color: #fff;
  right: 5px;
  font-family: Tahoma;
  z-index: 2000;
}

.key p { margin: 0; line-height: 10px; }
.key .text { left: 0; height: 40px; padding: 10px 10px 0; }

.key.vertical .text,
.key.vertical-2 .text,
.key.middle-image .text,
.key.horizontal .text,
.key.horizontal-2 .text,
.key.middle-text .text { position: absolute; left: 0; bottom: 0; height: 40px; width: 95px; }

.key.horizontal .text,
.key.horizontal-2 .text,
.key.horizontal img,
.key.horizontal-2 img {	float: left; }

.key.vertical-2 .text,
#workingGrid [data-template="vertical-2"] .text-container { opacity: .75; -moz-opacity: .75; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); }

.key.horizontal .text { left: 105px; }
.key.horizontal-2 img { float: right; }

.key.horizontal .text,
.key.horizontal-2 .text { width: 80px; }

.title-row { margin-bottom: 5px; }

.color-selector { display: inline-block; position: relative; }
.color-selector button { min-width: 31px; }
.color-selector ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 31px;
	margin: 2px 0 0;
	list-style: none;
	background-color: white;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.color-selector ul li a { width: 31px; height: 31px; display: block; margin: 1px 0 0; }

.DarkGrey { background: #272213; }
.LightGray { background: #4b575f; }
.Red { background: #e42618; }
.Cyan { background: #009580; }
.Blue { background: #009ee0; }
.DarkBlue { background: #10206b; }
.Green { background: #17a345; }
.Orange { background: #f18e00; }
.Pink { background: #a2027b; }
.Purple { background: #750d68; }

h2.DarkGrey, h2 > h2 > a.DarkGrey { color: #272213; background: transparent; }
h2.LightGray, h2 > a.LightGray { color: #4b575f; background: transparent; }
h2.Red, h2 > a.Red { color: #e42618; background: transparent; }
h2.Cyan, h2 > a.Cyan { color: #009580; background: transparent; }
h2.Blue, h2 > a.Blue { color: #009ee0; background: transparent; }
h2.DarkBlue, h2 > a.DarkBlue { color: #10206b; background: transparent; }
h2.Green, h2 > a.Green { color: #17a345; background: transparent; }
h2.Orange, h2 > a.Orange { color: #f18e00; background: transparent; }
h2.Pink, h2 > a.Pink { color: #a2027b; background: transparent; }
h2.Purple, h2 > a.Purple { color: #750d68; background: transparent; }

#wrokingGrid[data-template="vertical"] {}

#workingGrid [data-template="vertical"] .text-container,
#workingGrid [data-template="vertical-2"] .text-container,
#workingGrid [data-template="vertical-3"] .text-container,
#workingGrid [data-template="horizontal"] .text-container,
#workingGrid [data-template="horizontal-2"] .text-container,
#workingGrid [data-template="middle-image"] .text-container,
#workingGrid [data-template="middle-text"] .text-container { position: absolute; bottom: 0; }


#workingGrid .text-container { margin-bottom: 10px; }
#workingGrid .text-container textarea { 	
	width: 220px; border: none; background: transparent; outline: none; color: white; overflow: auto; resize: none; 
	font-family: "Segoe UI Light";
	margin: 2px 4px;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

#workingGrid .text-container textarea.title { font-size: 1.8em; line-height: 26px; }
#workingGrid .text-container textarea.subtitle { font-size: 1em; }

#workingGrid .text-container textarea::-webkit-input-placeholder { color: #ccc; }

#workingGrid [data-template="horizontal"] .text-container { left: 220px; }
#workingGrid [data-template="vertical-2"] .text-container { width: 240px; height: 115px; margin-bottom: 0 !important; }
#workingGrid [data-template="vertical-3"] .text-container { bottom: 375px; }

#workingGrid input[type="file"],
#workingGrid img { position: absolute; top: 0; left: 0; }

#workingGrid [data-template="horizontal"] img,
#workingGrid [data-template="horizontal-2"] img { width: 220px; height: 240px; }

#workingGrid [data-template="horizontal"] textarea,
#workingGrid [data-template="horizontal-2"] textarea { width: 270px; }

#workingGrid [data-template="horizontal-2"] img { left: 270px; }

#workingGrid [data-template="vertical"] img,
#workingGrid [data-template="vertical-2"] img,
#workingGrid [data-template="vertical-3"] img,
#workingGrid [data-template="middle-image"] img { width: 240px; }

#workingGrid [data-template="middle-image"] img { height: 240px; }

#workingGrid [data-template="vertical"] img,
#workingGrid [data-template="vertical-3"] img { height: 375px; }

#workingGrid [data-template="vertical-3"] img { top: 115px; }

#workingGrid [data-template="vertical-2"] img { height: 490px; }

#workingGrid .text-container { width: 230px; text-align: center; }